// ----- Mixins ----- / 

// ----- Flexbox ----- /
@mixin flexb (
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
  }

  // ----- Layout ----- / 

  @mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    @content;
  }

  // ----- Breakpoints ----- / 

  @mixin mq {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
  