// ---- Colors ---- /

$white: #fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-img-border: #ccc;

// ----- Layout ----- / 

$max-wh: 100%;
$max-width: 1400px;
$gutter: .625em;
