// ---- Colors ---- /

$white: #fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-img-border: #ccc;

// ----- Layout ----- / 

$max-wh: 100%;
$max-width: 87.5em;
$gutter: .625em;

// ----- Breakpoints ----- / 

$breakpoint-sm: 767px;
$breakpoint-lg: 768px;

// ----- Sass Maps ----- / 

$themes: (
  '1': #927bc1,
  '2': #fd7856,
  '3': #deb2ee,
  '4': #7ee6fd,
  '5': #88d9a0,
  '6': #4da2bb,
  '7': #ec9fa3,
  '8': #fd9f85,
  '9': #e4757a,
  '10': #63cc82,
  '11': #51ddfc,
  '12': #80e8d1,  
  );
  