// ----- Buttons ----- /

.btn {
  margin-top: px-to-em(15, 16);
  width: $max-wh;
  color: $white;
  border: none;
  padding: $gutter 0;
  text-transform: uppercase;
  border-radius: px-to-em(5, 16);
  transition: background-color .2s ease-in;
  @include mq {
    padding: $gutter px-to-em(30, 16);
  }
  & + .btn {
  @include mq {
  margin-left: $gutter;
    }
  }
}

.default {
  background-color: $color-secondary;
  @include hover($color-secondary);
}

.error {
  background-color: $color-error;
  @include hover($color-error);
}

.info {
  background-color: $color-info;
  @include hover($color-info);
}

.success {
  background-color: $color-success;
  @include hover($color-success);
}

.warning {
  background-color: $color-warning;
  @include hover($color-warning);
}


