// ----- Forms ----- /

.form {
  flex-basis: $max-wh;
}

.input{
  display: block;
  width: 94%;
  margin: $gutter auto 0;
  border: none;
  padding: $gutter;
  border-bottom: px-to-em(5, 16) solid $color-primary;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}