// ----- Navigation ----- /

.nav {
  padding-left: 0;
  flex-basis: $max-wh;
  @include flexb($dir: column);
  &-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: $max-wh;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
    &:hover {
      color: $white;
      background-color: $color-primary;
    }
  }  
}

@media (min-width: 768px) {

  .nav {
    @include flexb($dir: row, $just: flex-end, $align: center);
    &-link {
      flex-basis: 100px;
    }
  }
}